@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
	font-family: "Roboto", sans-serif;
}

section {
	border-bottom: 1px solid black;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.navbar {
	background-color: rgba(248, 248, 248, 0.672);
	filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
	backdrop-filter: blur(3px);
}

.black {
	background-color: darkgrey;
}

.grey {
	background-color: #4e4e4e;
}

.grey:hover {
	background-color: #373737;
}

.white {
	background-color: #dadada;
}

.white:hover {
	background-color: rgba(227, 227, 227, 0.608);
}
