/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");

.open-sans {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
.karla {
	font-family: "Karla", sans-serif;
}

.grid {
	overflow: hidden;
}

.flex {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
}

section {
	/* border-bottom: 1px solid black; */
	/* overflow: hidden; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	font-family: "Noto Sans", sans-serif;
	transition: all 0.3s ease-in-out;
}

.dark-body {
	background-color: #3b3b3b !important;
}
.dark {
	background-color: #212121 !important;
	border-color: white;
	color: white !important;
}

.light {
	background-color: #e1e1e1 !important;
	border-color: black;
	color: black !important;
}

.dark-text {
	color: black !important;
}

.darkish-text {
	color: #2e2e2e !important;
}

#carousel {
	transition: transform 0.7s ease-in-out;
	/* border: 1px solid black; */
}

#grid-item img {
	transition: transform 1s ease;
}

#can-grid #grid-item:nth-child(1) img:hover {
	transform: translate(50%, 50%) scale(2);
	z-index: 10;
	cursor: pointer;
}

#can-grid #grid-item:nth-child(2) img:hover {
	transform: translate(-50%, 50%) scale(2);
	z-index: 10;
	cursor: pointer;
}

#can-grid #grid-item:nth-child(3) img:hover {
	transform: translate(50%, -50%) scale(2);
	z-index: 10;
	cursor: pointer;
}

#can-grid #grid-item:nth-child(4) img:hover {
	transform: translate(-50%, -50%) scale(2);
	z-index: 10;
	cursor: pointer;
}

/* Jumbotron Animation */

.animation-text-color {
	color: #5e5e5e !important;
}

@media (min-width: 1024px) {
	.animation {
		position: relative;
	}

	.animation span:nth-child(1) {
		position: absolute;
	}
}

@media (max-width: 1024px) {
	.animation span:nth-child(2) {
		position: absolute;
		transform: translate(-100%, 0);
	}
}
.animation span:nth-child(2) {
	animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0 50%,
			8% 48%,
			16% 43%,
			25% 42%,
			38% 44%,
			47% 48%,
			55% 51%,
			63% 49%,
			73% 45%,
			82% 43%,
			93% 44%,
			100% 48%,
			100% 100%,
			0 100%
		);
	}

	50% {
		clip-path: polygon(
			0 39%,
			8% 46%,
			16% 48%,
			25% 46%,
			33% 44%,
			43% 39%,
			54% 37%,
			64% 41%,
			73% 46%,
			84% 48%,
			93% 46%,
			100% 42%,
			100% 100%,
			0 100%
		);
	}
}
