@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.black {
    background-color: darkgrey;
}

section {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    font-family: "Roboto", sans-serif;
    background-color: rgba(248, 248, 248, 0.672);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(3px);
}